footer{
  background: $theme-color;
  color: $white;
  padding: 20px 0;
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo{
    display: flex;
    align-items: center;
    p{
      margin-left: 20px;
    }
  }
  .footer-menu{
    display: flex;
    a{
      display: block;
      color: $white;
      font-size: 20px;
      padding-left: 18px;
      padding-right: 18px;
    }
    @include mobile{
      display: none;
    }
  }
}